# This workflow installs node and run e2e Synthetics tests through the built files

name: Run E2E Synthetics test on dist/ files

on:
  push:
    paths:
      - 'dist/**'

jobs:
  build-and-test:
    name: Run e2e on dist/ files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Run synthetics test - dist
        run: node dist/index.js
        env:
          INPUT_API_KEY: ${{ secrets.datadog_api_key }}
          INPUT_APP_KEY: ${{ secrets.datadog_app_key }}
          INPUT_CONFIG_PATH: './.github/workflows/e2e/global.config.json'
          INPUT_FAIL_ON_MISSING_TESTS: true
          INPUT_PUBLIC_IDS: '2r9-q7u-4nn,pwd-mwg-3p5,aaa-bbb-ccc,aaa-bbb-ccc'
